*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.main-cont{
    margin-top: 100px;
}



.container{
    max-width: 1000px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    justify-content: space-between;
}

.container ul{
    display: inline-block;
}

.container ul li{
    color:black;
    display: inline-block;
    padding: 50px;
}

.fizzbuzz-container{
    display: flex;
    flex-wrap: wrap;
}

.fizzbuzz-container > *{
    width: 10%;
    height: 100px;
    line-height: 100px;
    border: 2px solid white;
    background-color: darkblue;
    color: white;
}

.fizzbuzz-container > .fizz{
    background-color: goldenrod;
}

.fizzbuzz-container > .buzz{
    background-color: aquamarine;
}

.fizzbuzz-container > .fizzbuzz{
    background-color: green;
}